<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="everything">
    <div class="all">
    <div class="names">
        <br>
        <img class="biglogo" src="static/logo.png" alt="">
        <h2>MUREC</h2>
        <h5>Your Personal Music Recommender</h5>
    </div>

    <div class="line"></div>

    <div class="form">
        <div class="title">
            <img src="static/logo.png" alt=""> <span>Join Us</span>
        </div>

        <div class="write">
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <button class="submit" type="submit">Log In</button>
            </form>

            <hr>

            <button class="submit"><a href="/register">Create new Account</a></button>
        </form>
        </div>
    </div>

</div>
</div>
    <script src="./login.js"></script>
</body>
</html>